*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrap::after{
    content: '';
    display: block;
    clear: both;
}
/* 
계속 해제해주기 귀찮으니까
모든 wrap에 float해제하기 
*/

body{
    overflow-x: hidden;
}